@model CategoryVM
@{
    var currentModelName = ((Model.Category == null || Model.Category.Id == 0 ? "Create" : "Update")) + " Category";
}
@{
    ViewData["Title"] = currentModelName;
}


<form method="post" asp-action="CreateUpdate">
    <input type="hidden" asp-for="Category.Id" />
    <div class="border p-3 mt-4">
        <h2 class="text-primary">@currentModelName</h2>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row mb-3">
            <label asp-for="Category.Name"></label>
            <input type="text" asp-for="Category.Name" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <input type="text" asp-for="Category.DisplayOrder" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>
        <button class="btn btn-primary">@currentModelName</button>
    </div>
</form>
<a asp-action="Index" asp-controller="Category">Back to Category</a>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

